# Python compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.pkl
*.joblib

# PyInstaller build folders
dist/
build/
*.spec
